{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Find a bike you'll love</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap/css/carousel.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../docs-assets/js/html5shiv.js"></script>
      <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->

    <link href="{% static "css/home2.css" %}"" rel="stylesheet">
  </head>

  <body>

    <!-- <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Bike Tailor</a>
        </div>
      </div>
    </div> -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Find a bike you'll love</h1>

        <p class="text-center">Bike Tailor recommends 3 bikes to fit your lifestyle & budget.</p>

        <p class="text-center">And it’s completely free.</p>

        <p class="text-center"><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container marketing">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <img src="{% static "img/button1.png" %}" />
          <h2 class="text-center">SAVE TIME</h2>
          <br/>
          <p class="text-center">We search bike shops, auctions & classifieds to recommend bikes to fit your needs. Tell us a few details and we’ll send you three bikes within 24 hours.</p>
          <br/>
          <p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <img src="{% static "img/button2.png" %}" />
          <h2 class="text-center">CUSTOM FOR YOU</h2>
          <br/>
          <p class="text-center">Your budget, your lifestyle, your personality. These are the most important things when buying a bike and you don’t want to compromise any of them.</p>
          <br/>
          <p class="text-center"><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <img src="{% static "img/button3.png" %}" />
          <h2 class="text-center">HONEST ADVICE</h2>
          <br/>
          <p class="text-center">Get unbiased help from people who know how bikes work. We’re independent from any shops and want to help you get a bike that will last.</p>
          <br/>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "bootstrap/js/jquery.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script
  </body>
</html>
