body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.jumbotron {
    background-image: url('../img/bike-splash.jpg');
    background-size: cover;
    background-position: right bottom;
    /*min-height: 300px;*/
}

.jumbotron h1 {
    text-shadow: 2px 2px 2px black;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 4em;
}

.jumbotron p {
    text-shadow: 2px 2px 2px black;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}

.jumbotron p a {
    text-shadow: none !important;
}



.jumbotron .panel {
    background-color: rgba(255, 255, 255, 0.2);
}

.marketing img {
    width: 140px;
    height: 140px;
}

.marketing .col-md-4 {
    text-align: center;
}