/*body {
  padding-top: 0px;
  padding-bottom: 0px;
}*/

.jumbotron {
    background-image: url('../img/bike-splash.jpg');
    background-size: cover;
    background-position: right bottom;
    /*min-height: 300px;*/
}

.jumbotron h1 {
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 4em;
    margin-top: 0.4em;
    margin-bottom: 0.col-md-4em;
}

.jumbotron p {
    text-shadow: 2px 2px 2px black;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}

.jumbotron p a {
    text-shadow: none !important;
}



.jumbotron .panel {
    background-color: rgba(0, 0, 0, 0.5);
}

.marketing {
    margin-top: 50px;
}

.marketing img {
    width: 180px;
    height: 180px;
}

.marketing .col-md-4 {
    text-align: center;
}

.marketing p,
.marketing h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}